<ion-content>

  <ion-card  >
    <ion-card-header>

      <ion-card-title>Cifras generales</ion-card-title>
      
    </ion-card-header>
  </ion-card>

  <ion-card *ngIf="informacion == null || informaciong ==null" >
    
    <ion-item>
      <ion-spinner name="dots"></ion-spinner>
      <ion-label>    </ion-label>
      <ion-label>  Cargando cifras </ion-label>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="informaciong != null">
    <ion-item>
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>Cifras globales</ion-label>
    </ion-item>

    <ion-item>
        <ion-label>Total contagiados {{contagiadosg}} </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Muertes {{muertesg}} </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Recuperados {{recuperadosg}} </ion-label>
    </ion-item>
    
    
  
    <ion-card-content>
      Información actualizada diariamente.
    </ion-card-content>
  </ion-card>
  
    <ion-card *ngIf="informacion != null" >
      <ion-item>
        <ion-icon name="flag" slot="start"></ion-icon>
        <ion-label>Cifras nacionales</ion-label>
      </ion-item>
    
      <ion-item>
        <ion-label>Total contagiados {{contagiados}} </ion-label>
      </ion-item>
    
      <ion-item>
        <ion-label>Muertes {{muertes}} </ion-label>
      </ion-item>
    
      <ion-item>
        <ion-label>Recuperados {{recuperados}} </ion-label>
      </ion-item>
    
    
    
      <ion-card-content>
        Información actualizada diariamente.
      </ion-card-content>
    </ion-card>


    <div class="boton">
      <ion-button color="danger" (click)="siguiente()">Ir a encuesta</ion-button>
    </div>

  


</ion-content>
