<ion-header>
  <ion-toolbar>
    <ion-title>colombia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header color="light">Informacion Graficada sobre covid-19 en colombia</ion-list-header>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Numeros de casos de covid-19 por departamentos</ion-card-subtitle>
      <ion-card-title>Covid-19-Colombia</ion-card-title>
    </ion-card-header>
    
      <canvas id="canvas"></canvas>
    
  </ion-card>

  

</ion-content>
