<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        
        <div class="center" style="padding:15%">
          <ion-img src="../../assets/covid.png" class="ion-align-self-end"></ion-img>
        </div>
      </ion-col>
  
  
  
    </ion-row>
  
  
    <ion-row>
      <ion-col style="padding:10%; align-content:center;justify-content:center">
        <p>¿Quieres saber que tan alto es tu riesgo de contagio de covid-19?. Responde unas cuantas preguntas y entérate.
        </p>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <div class="boton">
          <ion-button color="danger" routerLink="/pregunta1">Empezar</ion-button>
        </div>
      </ion-col>
    </ion-row>
  
  </ion-grid>


</ion-content>

