<ion-header [translucent]="true"  class="ion-no-border">
  <ion-toolbar >
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar class="ion-no-border">
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>


  <img src="../../assets/covid.png" alt="">

  <div id="container" class="ion-padding">
    <strong class="ion-margin">Realiza esta prueba!!</strong>
    <p>¿Quieres saber que tan alto es tu riesgo de contagio de covid-19? Responde unas cuantas preguntas y enterate</p>
  </div>

  <div class="boton">
    <ion-button color="danger" routerLink="/pregunta1">Empezar</ion-button>
  </div>
  
</ion-content>
